:root {
  --white: #fff;
  --coral:#F67E7E;
  --primary:#79C8C7;
  --dark-blue:#014E56;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

*::before,::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Livvic', 'Arial', sans-serif;
  font-weight: 600;
  background-color: var(--dark-blue);
  color: var(--white);
}

/* GLOBAL-BUTTON */
.button {
  display: inline-block;
  min-width: 163px;
  padding: 9px 33px;
  text-decoration: none;
  border-radius: 24px;
  font-size: 18px;
  line-height: 28px;

}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.header {
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: var(--dark-blue);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: inline-block;
  white-space: nowrap;
  margin-right: 80px;
  transition: color, opacity 0.4s ease;
}

.header__logo-link:hover {
  opacity: 0.8;
}

.header__logo-link:active {
  opacity: 0.6;
}

.header__logo {
  display: block;
  width: 160px;
  height: 40px;
  object-fit: cover;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}

.header__bnt {
  color: var(--white);
  border: 2px solid var(--white);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HERO */
.hero {
  padding-top: 56px;
  background-image: url("../img/dick-img.svg");
  background-repeat: no-repeat;
  background-position:calc(50% + -700px) 53px;
}

.hero__container {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-bottom: 250px;
  background-image: url("../img/hero-circle_img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 375px) 425px;
}

.hero__title-wrapper {
  width: 635px;
  margin-right: 5px;
}

.hero__title {
  display: inline-block;
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: var(--white);
}

.hero__title b {
  color: var(--coral);
}

.hero__text-wrapper {
  width: 445px;
}

.hero__line {
  display: inline-block;
  margin: 0;
  width: 50px;
  height: 4px;
  background-color: var(--primary);
  border: 0;
}

.hero__text {
  padding-top: 80px;
  padding-top: 140px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}


/* SECTION-FEATURE */
.feature {
  padding-top: 140px;
  background-color: #012F34;
  background-image: url("../img/feature_dick-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 670px) 450px;
}

.feature__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 140px;
}

.feature__line {
  display: inline-block;
  margin: 0;
  width: 50px;
  height: 4px;
  background-color: var(--coral);
  border: 0;
}

.feature__title-wrapper {
  width: 445px;
  flex-shrink: 0;
}

.feature__title {
  display: inline-block;
  padding-top: 54px;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: var(--white);
}

.feature__list {
  padding: 0;
  padding-top: 73px;
  margin: 0;
  list-style: none;
}

.feature__item {
  display: flex;
  align-items: center;
  width: 540px;
}

.feature__item:not(:last-child) {
  margin-bottom: 32px;
}

.feature__item-img {
  margin-right: 23px;
}

.feature__item-content {
  display: flex;
  flex-direction: column;
}

.feature__item-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: var(--coral);
}

.feature__item-text {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.75);
}
